.main-image {
  max-width: 300px;
  height: auto;
  width: 100%;
}

@media (max-width: 900px) {
  .main-image {
    margin-right: auto;
    margin-left: auto;
  }

  .row {
    margin: auto;
  }

  h3 {
    padding-left: 15px;
  }
}

@media (max-width: 768px) {
  .news-date {
    font-weight: bold;
    text-decoration: underline;
    padding-bottom: 10px;
  }
}

.main-description {
  text-align: left;
}

.contact-information {
  font-size: 14px;
  margin: 0;
  text-align: center;
}

p {
  margin: 5px;
}

.contact-p {
  margin-bottom: 0;
}

.icons {
  padding-left: 5px;
  padding-right: 5px;
  margin: 0;
}

.news {
  padding-top: 20px;
  text-align: center;
  height: auto;
  min-height: 0;
  margin: auto;
}

.news-item {
  padding-bottom: 10px;
}

.news-text {
  text-align: left;
}
.card-block {
  font-size: 1em;
  position: relative;
  margin: 0;
  padding: 1em;
  border: none;
  border-top: 1px solid rgba(34, 36, 38, 0.1);
  box-shadow: none;
}
.card {
  font-size: 1em;
  /* overflow: hidden; */
  border: 2px;
  margin-bottom: 20px;
  /* box-shadow: 0 0 8px #d3d3d3; */
}
button {
  outline: 0;
  grid-gap: 8px 8px;
  align-items: center;
  background: 0 0;
  border: 1px solid #0f4d92;
  border-radius: 4px;
  cursor: pointer;
  display: block;
  flex-shrink: 0;
  font-size: 16px;
  gap: 8px 8px;
  justify-content: center;
  line-height: 1.5;
  overflow: hidden;
  padding: 12px 16px;
  text-decoration: none;
  text-overflow: ellipsis;
  transition: all 0.14s ease-out;
  white-space: nowrap;
  margin-bottom: 10px;
}
button:hover {
  box-shadow: 4px 4px 0 #0f4d92;
  transform: translate(-4px, -4px);
}
button:focus-visible {
  outline-offset: 1px;
}
.no-gutters {
  margin-right: 0px;
  margin-left: 0px;
}
.no-gutters > .col,
[class*="col-"] {
  padding-right: 0px;
  padding-left: 0px;
}
.col-sm-5 {
  margin-left: 5px;
}
a:hover {
  text-decoration: none;
}
h1 {
  font-size: large;
}
